@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  background-color: #3767AD;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  overflow: hidden;
  background: #3767AD;


  .container {


    h1 {

      color: white;
      font-family: 'Roboto',
        sans-serif;
      font-size: 42px;
      text-align: center;
      letter-spacing: 2px;
    }

    .hydro__box {


      &__glass {
        display: block;
        position: relative;
        padding-top: 30px;
        margin: 0 auto;
      }


      .hydro__box__number,
      .hydro__box__number--js {
        position: relative;
        font-size: 112px;
        text-align: center;
        margin-top: -600px;
      }



      // BUTTON

      .button {
        display: grid;
        place-items: center center;
        background: #3767AD;
        padding-top: 30px;

        a {
          display: block;
          margin: -1px;
          border: 3px white solid;
          padding: 10px;
          width: 180px;

        }


        &__cont--add,
        &__cont--remove,
        &__cont--remove--all {
          display: block;
          text-decoration: none;
          background-color: #3767AD;
          border: 0px;
          padding: 6px;
        }

      }

      .btn {
        font-size: 18px;
        font-family: 'Roboto',
          sans-serif;

        border-radius: 15px;


        transition: all 0.3s ease 0s;
      }

      .btn:hover {
        color: #fff !important;
        border-radius: 50px;
        text-decoration: none;
        border-color: white !important;
        transition: all 0.3s ease 0s;
      }











    }

    h3 {
      display: block;
      position: relative;
      font-family: 'Roboto',
        sans-serif;
      font-size: 24px;
      text-align: center;
      padding-top: 40px;

    }

    .result__info {
      display: block;
      position: relative;
      font-family: 'Roboto',
        sans-serif;
      font-size: 20px;
      text-align: center;
    }
  }
}